<% provide(:title, 'All users') %>
<div class="container all-problems">
<h1>All Problems</h1>
<table class="table">
<thead>
	<tr>
	<th> Title </th>
	<th> Add Date </th>
	<th> Difficult </th>
	<th> Rates </th>
	<th> My Submissions </th>
	<%if current_user&&current_user.coreuser %>
	<th> Delete </th>
	<% end %>
</thead>
<tbody>
<% @problems.each do |p| %>
<% sp = current_user.get_solved_problem p.id %>
<tr>
<td><%= link_to p.title, newsub_path(p.id) %> 
	<%if sp && sp.solved %>
	<span class="label label-success">Passed</span>
	<% elsif sp && sp.solved == false %>
	<span class="label label-info">Retry</span>
	<% end %>
</td>
<td><%= p.created_at %></td>
<td><%= p.level %></td>
<td>NA</td>
<td><%if sp %>
	<%=link_to "View Submissions", mysub_path(p.id) %>
	<% else %>
	"TRY"
	<% end %>
</td>
<%if current_user&&current_user.coreuser %>
<th> <%= link_to "delete", problem_path(p.id), method:"delete" %> </th>
<% end %>
</tr>
<% end %>
</tbody>
</table>
<%= will_paginate %>
</div>