<% if submission.result == "Passed" %>
<%  result="passed" %>
<%   else  %>
<%  result="failed" %>
<% end %>
<div class="submission-summary-each submission-lang-<%=submission.language %> 
	 submission-result-<%=result %>" >
<ul>
Submission Date: <%= submission.created_at %> <br/>
Language: <%= submission.language %> <br/>
Result: <%= submission.result %> <br/>
<%= link_to "View", submission_path(submission.id) %>                          
</ul>
<hr>
</div>